html{
    scroll-behavior: smooth;
}

section[id]{
    scroll-margin-top: 80px;
}

header{
    background-color: #0d6efd;
}
.nosotros{
    text-align: justify;
    line-height: 1.6em;
}

.caracteristicas{
    text-align: center;
    line-height: 3em;
}

.caracteristicas ul{
    list-style: none;
    padding: 0;

}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#contenedor-formulario{
    background: #fbfafa;
    border-radius: 5px;
    max-width: 500px;
}